.menu-container{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 250px;
  padding: 20px 0 60px 0;
}
.menu-header {
  display: flex;
  justify-content: center;
}

.item_menu{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;

  display: flex;
  align-items: center;
  height: 45px;
  padding-left: 20px;
  position: relative;
  line-height: 45px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item_menu:hover {
  background-color: #383838;
  color: #fff;
}
.menu-container_subtext{
  text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 13px;
    padding: 32px 0 10px 20px;
    font-size: 11px;
    text-transform: uppercase;
    color: #00dfa9;
    font-weight: 700;
}

.menu_items ul a{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit;
}
.item_menu_icon{
  background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 18px;
    width: 18px;
}

.icon_moneda{
  -webkit-mask-size: 15px 15px;
  mask-size: 15px 15px;
}
.menu-container {
  /* width: 90px; */
  position: relative;
  flex: 1 0 270px;
  max-width: 270px;
  padding-bottom: 0px;
  padding-top: 130px;
}

.layout {
  grid-area: layout;
  max-width: 700px;
}
.options {
  grid-area: options;
  display: none;
}
@media (max-width: 400px) {
  .menu-container {
    width: auto;
  }
  .item-no-mobil {
    display: none !important;
  }

  .item-search {
    display: flex !important;
  }
  .menu-items ul {
    margin: 0;
    width: 100%;
    display: flex !important;
    justify-content: space-evenly;
  }

  .menu-items ul li {
    float: left;
  }
  .menu-items ul li i {
    width: 100%;
  }
}
@media (min-width: 400px) {
  .item-search {
    display: none !important;
  }
  .menu-items ul li {
    margin-top: 10px;
  }
  .user-info {
    display: none !important;
  }
}
@media (min-width: 1300px) {
  .menu-container {
    /* display: flex;
    width: 100%;
    flex-direction: column; */
    position: relative;
    flex: 1 0 270px;
    max-width: 270px;
    font-size: 13px
  }
  .menu-header {
    justify-content: inherit;
    padding-left: 15px;
  }
  .menu-items ul li {
    margin-top: 10px;
    justify-content: flex-start !important;
  }
  .menu-items ul li a {
    display: block !important;
  }
  .menu-items ul li i {
    margin-right: 10px;
  }
  .item-search {
    display: none !important;
  }
  .btn-tweet-menu {
    margin-top: 10px;
    width: auto !important;
  }
  .user-info {
    display: flex !important;
  }
}

.menu-items ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  /* margin-bottom: 22px; */
  height: 100%;
  display: inline-block;
  width: 100%;
}
.menu-items ul li {
  position: relative;
  display: flex;
  line-height: 1.5;
  align-items: center;
  padding: 5px;
  border-radius: 30px;

  margin: 10px;
  height: 50px;
  flex-wrap: wrap;
  align-content: stretch;

  justify-content: center;
}

.menu-items ul li a {
  float: left;
  display: none;
  color: black;
  font-size: 18px;
  /* font-weight: 200; */
  text-decoration: none;
  padding: 5px;
  padding-right: 12px;
  /* font-weight: bold; */
}

.menu-items ul li i {
  float: inherit;
  /* border: red solid; */
  padding: 5px;
  width: auto;
}

li:hover {
  background: #8ed0f9ad;
  color: #00acee;
}

/* User */
.menu-user {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.user-info {
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.user-info .user-img img {
  border-radius: 30px;
  height: 40px;
}
.user-info div {
  padding-left: 5px;
  padding-right: 5px;
}
.user-info div * {
  padding: 0px;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
.user-info div p {
  font-size: 14px;
  color: #536471;
}
.user-info div i {
  padding: 5px;
  color: #536471;
  font-size: 1.3em;
}
a {
  color: inherit;
  text-decoration: inherit;
}