.m-InfoDeport{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.m-InfoDeport-title{
    display: flex;
    width: 100%;
}
.m-InfoDeport-title-item{
    display: flex;
    justify-content: center;
    gap: 1px;
    align-items: center;
    width: 100%;
}

.m-InfoDeport-title-item-number{
    color: #ffde00;
    font-weight: 900;
    white-space: nowrap;
    line-height: 26px;
    font-size: 22px;
    height: 50px;
    display: flex;
    align-items: center;
}

.m-InfoDeport-title-item-number p{
    padding: 0 10px;
    margin: 0;
}

.m-InfoDeport-title-item-name{
    color: white;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    width: 100%;
    border-bottom: 1px solid #3e3e3e;
    height: 100%;
}

.m-InfoDeport-title-item-name p{
    padding: 0 20px;
    margin: 0;
}

.m-InfoDeport-title-item-name--left{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.m-InfoDeport-title-item-name--right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.m-InfoDeport-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.m-InfoDeport-icon svg{
    height: 50px;
}

.m-InfoDeport-layout-content{
    height: 225px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.m-InfoDeport-layout{
    align-items: center;
    background-color: rgb(31 31 31);
    display: flex;
    justify-content: center;
    /* padding: 0 57px; */
    width: 100%;
    max-width: 400px;
    height: 100%;
}

.m-InfoDeport-layout div{
    border-radius: 2px;
    border: 1px solid #ffde00;
    color: #ffde00;
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
    padding: 6px 10px;
    text-align: center;
}