.m-LayoutGrafico-content {
  /* padding: 15px; */
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-left: 15px;
  padding: 15px 15px 0;
  margin-bottom: 10px;
  position: relative;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d4d4d4;
  /* width: 100%; */
  max-width: 500px;
}
.m-LayoutGrafico-header,
.m-LayoutGrafico-body {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: flex-start;
}

.m-LayoutGrafico-header-column--title,
.m-LayoutGrafico-body-column--desc {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  font-size: 18px;
  color: #282828;
  line-height: 27px;
  font-weight: 700;
  display: flex;
  gap: 7px;
  align-items: center;
}

.m-LayoutGrafico-header-column--desc,
.m-LayoutGrafico-body-column--title {
  font-size: 11px;
  color: #666;
  line-height: 17px;
  /* padding-right: 10px; */
  padding-top: 3px;
}

.m-LayoutGrafico-header-column {
  display: flex;
  flex-direction: column;
}

.m-LayoutGrafico-header-column--right {
    display: flex;
    text-align: right;
    justify-content: flex-end !important;
    align-items: flex-end;
}
.m-LayoutGrafico-body-column {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
