.banner{
    height: 205px;
    transition: left .35s;
    white-space: nowrap;
    width: 100%;
    display: flex;
    position: relative;
    left: 0;
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: #2ec193;
}

.banner-container{
    cursor: pointer;
    padding: 10px 10px 0 15px;
    background-color: #282828;
    margin-bottom: 0;
    flex: 1 0 auto;
    width: 100%;
    scroll-snap-align: start;
    max-height: 205px;
    scroll-snap-stop: always;
    position: relative;
    overflow: hidden;

}

.banner-image-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 252px;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
}

.banner-image{
    background-size: auto 100%;
    width: 100%;
    height: 100%;
    max-width: 375px;
    object-fit: cover;
    object-position: top right;
    background-position: right -55px top;
    background-repeat: no-repeat;
    background-size: auto 200px;
}

.banner-image-container:after{
    background-image: linear-gradient(90deg,#282828 0,rgba(40,40,40,0) 50%,rgba(40,40,40,0) 90%,#282828);
    content: "";
    position: absolute;
    inset: 0;
    /* background-image: linear-gradient(270deg,rgba(40,40,40,.1) 60%,#282828 92%),linear-gradient(0deg,#282828 calc(65/100 *55px),rgba(40,40,40,0) 55px); */
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container-title{
    display: flex
}

.banner-title{
    height: 17px;
    font-size: 11px;
    line-height: 17px;
    color: #111;
    font-weight: 700;
    text-align: left;
    position: relative;
    z-index: 1;
    background-color: #2ec193;
    padding: 0 4px;
    border-radius: 1px;
}

.banner-Offer{
    width: 255px;
    max-width: 62%;
    margin: 7px 0 10px;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    line-height: 22px;
    max-height: calc(22px * 3);

    text-align: left;
    text-overflow: ellipsis;
    white-space: normal;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
}

.banner-ActionCTA{
    height: 25px;
    min-width: 100px;
    border-radius: 2px;
    border: 1px solid rgba(38,255,190,.5);
    font-size: 13px;
    line-height: 17px;
    color: #26ffbe;
    text-align: center;
    padding: 0 10px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.banner-NotesWrapper{
    width: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 15px;
}

.banner-NotesWrapper_Notes{
    text-align: left;
    text-overflow: ellipsis;
    white-space: normal;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;

    min-height: 27px;
    width: 100%;
    max-width: 544px;
    margin: 7px 0;
    font-size: 10px;
    color: #9c9c9c;
    font-weight: regular;
    line-height: 14px;
    max-height: calc(14px * 3);
}